.dark
{
    background-color: rgb(19, 17, 17);
    color: #222121;


}
.light
{
    background-color: white;
    color: #222121;
}
.icon
{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}
.icon img{
    border-radius: 50%;
    margin-bottom: 50px;
    height: 35px;
    margin-left: 10px;
    width: 35px;
}
.icon button{
    border: none;
    font-size: 25px;
    padding: 10px;
    color: #B8C5D3;

}
.plus{
    background: transparent;
    color: aqua !important;
}
.info{
    font-size: 12px;
    text-align: left;
    margin: 4px 20px;
}
.info span:last-child{
    color: #908080;
}
.bootominfo{
    font-size: 13px;
    padding: 13px;
}
.bootominfo p:last-child{
    font-weight: 700;
}